<#@ template language="C#v3.5" #>

/// <summary>
/// Tests the <c><#= Method.Name #></c> method with
/// TODO: write about scenario
/// </summary>
[Test]
public void <#= Method.Name #>_TODO ( ) {
	// TODO: invoke <#= Method.Name #> and assert properties of its effects/output
	Assert.Fail ( "Test not yet written" );
}
